<div id="desktop-menu">
	<ul>
		{% for group in site.data.nav.elements %}
			<li>
				<a href="#" aria-haspopup="true">
					{{ group.[page.lang] | markdownify | remove: "<p>" | remove: "</p>" | strip_newlines }}
					<i class="fas fa-angle-down"></i>
				</a>
				<div>
					<ul aria-label="submenu">
						{% for item in group.items %}
						<li>
							<a href="{{ item.page.url.[page.lang] | default: item.page.url | relative_url }}">{{ item.page.[page.lang] | default: item.page.en | markdownify | remove: "<p>" | remove: "</p>" | strip_newlines }}</a>
						</li>
						{% endfor %}
					</ul>
				</div>
			</li>
		{% endfor %}
	</ul>
</div>
