<div id="menu">
	<div id="menu-icon" tabindex="0">
		<i class="fas fa-bars"></i>
		<p>{{ site.data.nav.menu.[page.lang] | markdownify | remove: "<p>" | remove: "</p>" | strip_newlines }}</p>
	</div>
	<div id="menu-content">
		{% for group in site.data.nav.elements %}
			<div class="nav-group">
				<h4>{{ group.[page.lang] | markdownify | remove: "<p>" | remove: "</p>" | strip_newlines }}</h4>
				<ul>
					{% for item in group.items %}
						<li>
							<a href="{{ item.page.url.[page.lang] | default: item.page.url | relative_url }}">{{ item.page.[page.lang] | default: item.page.en | markdownify | remove: "<p>" | remove: "</p>" | strip_newlines }}</a>
							{% if item.page.external == true %}
								<i class="fas fa-external-link-alt"></i>
							{% endif %}
						</li>
					{% endfor %}
				</ul>
			</div>
		{% endfor %}
	</div>
</div>
