{% capture join %}
	<div id="join">
		<div class="btn-container">
			{% if site.data.nav.join.link.[page.lang] %}
				{% assign joinURL = site.data.nav.join.link.[page.lang] | relative_url %}
			{% else %}
				{% assign joinURL = "https://www.dsausa.org/join" %}
			{% endif %}
			<a href="{{ joinURL }}" class="btn">{{ site.data.nav.join.text.[page.lang] | markdownify | remove: "<p>" | remove: "</p>" | strip_newlines }}</a>
		</div>
	</div>
{% endcapture %}

{% capture social %}
	{% if site.chapter.twitter or site.chapter.instagram or site.chapter.facebook %}
		<div id="social-container">
			{% if site.chapter.twitter %}
				<a id="twitter" class="social" href="{{ site.chapter.twitter }}">
					<i class="fab fa-twitter"></i>
				</a>
			{% endif %}

			{% if site.chapter.instagram %}
				<a id="instagram" class="social" href="{{ site.chapter.instagram }}">
					<i class="fab fa-instagram"></i>
				</a>
			{% endif %}

			{% if site.chapter.facebook %}
				<a id="facebook" class="social" href="{{ site.chapter.facebook }}">
					<i class="fab fa-facebook-f"></i>
				</a>
			{% endif %}
			<div style="clear: both;"></div> 
		</div>
	{% endif %}
{% endcapture %}

{% if site.data.nav.elements %}
	<div id="nav-container">
		{% for group in site.data.nav.elements %}
			<div class="nav-group">
				<h4>{{ group.[page.lang] | markdownify | remove: "<p>" | remove: "</p>" | strip_newlines }}</h4>
				<ul>
					{% for item in group.items %}
						<li><a href="{{ item.page.url.[page.lang] | default: item.page.url | relative_url }}">{{ item.page.[page.lang] | default: item.page | markdownify | remove: "<p>" | remove: "</p>" | strip_newlines }}</a></li>
					{% endfor %}
				</ul>
			</div>
		{% endfor %}
		{{ social }}
		<div style="clear: both;"></div> 
	</div>
	{{ join }}
{% elsif site.data.translations.chapter-name.[page.lang] && site.chapter.url %}
	<div id="nav-container" class="no-nav">
		{% if site.chapter.url %}
			{% assign chapterURL = site.chapter.url %}
		{% elsif page.lang == "en" %}
			{% assign chapterURL = "/" | relative_url %}
		{% else %}
			{% assign chapterURL = page.lang | relative_url %}
		{% endif %}

		<p>{{ site.data.nav.credits.this-site-was-made-by.[page.lang] | markdownify | remove: '<p>' | remove: '</p>' | strip_newlines }} <a href="{{ chapterURL }}">{{ site.data.translations.chapter-name.[page.lang] | markdownify | remove: '<p>' | remove: '</p>' | strip_newlines }}</a>, {{ site.data.nav.credits.a-chapter-of-the.[page.lang] | markdownify | remove: '<p>' | remove: '</p>' | strip_newlines }} <a href="https://www.dsausa.org/">{{ site.data.nav.credits.DSA.[page.lang] | markdownify | remove: '<p>' | remove: '</p>' | strip_newlines }}</a>.</p>
		{{ social }}	
	</div>
	{{ join }}
{% endif %}
