<footer class="site-footer">
	{% if site.chapter.url %}
		{% assign chapterURL = site.chapter.url %}
	{% else %}
		{% assign chapterURL = '/' | absolute_url }} %}
	{% endif %}

	{% if site.chapter.location %}
		<div class="credits">
			This site was made by the <a href="{{ chapterURL }}">{{ site.chapter.location | markdownify | remove: '<p>' | remove: '</p>' | strip_newlines }}</a> chapter of the <a href="https://www.dsausa.org/">Democratic Socialists of America</a>.
		</div>
	{% endif %}
	<div class="join">
		<div class="btn-container">
			<a href="https://www.dsausa.org/join" class="btn">Join DSA</a>
		</div>
	</div>
	<div style="clear: both;"></div> 
</footer>
