<footer class="site-footer">
	{% if site.chapter.url %}
		{% assign chapterURL = site.chapter.url %}
	{% else %}
		{% assign chapterURL = '/' | absolute_url }} %}
	{% endif %}
	
	

	{% include nav.html %}

	<div class="join">
		<div class="btn-container">
			{% if site.custom-join %}
				{% assign joinURL = site.custom-join | relative_url %}
			{% else %}
				{% assign joinURL = "https://www.dsausa.org/join" %}
			{% endif %}
			<a href="{{ joinURL }}" class="btn">Join DSA</a>
		</div>
	</div>

	<div style="clear: both;"></div> 
</footer>
