<header class="page-header" role="banner">
	{% if site.banner.link %}
		<div id="banner">
			<div id="banner-content">
				<a id="banner-link" href="{{ site.banner.link | relative_url }}">
					<p>{{ site.banner.text | markdownify | remove: "<p>" | remove: "</p>" | strip_newlines }}<i class="fas fa-arrow-right"></i></p>
				</a>
			</div>
			<div style="clear:both"></div>
		</div>
	{% elsif site.banner.text %}
		<div id="banner">
			<p id="banner-content">
				{{ site.banner.text | markdownify | remove: "<p>" | remove: "</p>" }}
			</p>
			<div style="clear:both"></div>
		</div>
	{% endif %}
	<div class="project-area">
		<div class="background-logo">
			{% include header-DSA-logo.html %}
		</div>
		<div class="chapter">
			{% if site.chapter.header-logo-svg && site.chapter.header-logo-png-fallback %}
				{%- capture logo -%}
					<div id="logo">
						<img src="{{ site.chapter.header-logo-svg | relative_url }}" onerror="this.src='{{ site.chapter.header-logo-png-fallback | relative_url }}'; this.onerror=null;" draggable="false" alt="{{ site.chapter.logo-description | markdownify | remove: '<p>' | remove: '</p>' | strip_newlines }}">
					</div>
				{%- endcapture -%}
			{% else %}
				{%- capture logo -%}
					<div id="logo">
						<img src="{{ 'assets/images/DSA-logo-color.svg' | relative_url }}" onerror="this.src='{{ 'assets/images/DSA-logo-color.png' | relative_url }}'; this.onerror=null;" draggable="false" alt="Two hands holding each other. A rose is behind them.">
					</div>
				{%- endcapture -%}
			{% endif %}

			{% if site.chapter.url %}
				<div id="name" href="{{ site.chapter.url }}">
					<h3>
						<a href="{{ site.chapter.url }}">
						{{ logo }}{{ site.chapter.name | markdownify | remove: "<p>" | remove: "</p>" | strip_newlines }}<div style="clear: both;"></div>
						</a>
					</h3>
				</div>
			{% else %}
				<div id="name" href="{{ '/' | absolute_url }}">
					<h3>
						<a href="{{ '/' | absolute_url }}">
						{{ logo }}{{ site.chapter.name | markdownify | remove: "<p>" | remove: "</p>" | strip_newlines }}<div style="clear: both;"></div>
						</a>
					</h3>
				</div>
			{% endif %}
			<div style="clear: both;"></div> 
		</div>
		<h1 class="page-title">
			{%- if page.headline -%}
				{{ page.headline | markdownify | remove: "<p>" | remove: "</p>" | strip_newlines }}
			{%- elsif page.title -%}
				{{ page.title | markdownify | remove: "<p>" | remove: "</p>" | strip_newlines }}
			{%- else -%}
				{{ site.title | default: site.github.repository_name | markdownify | remove: "<p>" | remove: "</p>" | strip_newlines }}
			{%- endif -%}
		</h1>
		{% if page.subhead %}
			<h2 class="tagline">{{ page.subhead | markdownify | remove: "<p>" | remove: "</p>" | strip_newlines }}</h2>
		{% elsif page.description %}
			<h2 class="tagline">{{ page.description | markdownify | remove: "<p>" | remove: "</p>" | strip_newlines }}</h2>
		{% endif %}
	</div>
</header>
