{% assign url_size = site.data.announcement.url.size %}
{% assign text_size = site.data.announcement.text.size %}
{% if url_size > 0 %}
	<div id="announcement">
		<div id="announcement-content">
			<a id="announcement-link" href="{{ site.data.announcement.url | relative_url }}">
				<p>{{ site.data.announcement.text | markdownify | remove: "<p>" | remove: "</p>" | strip_newlines }}<i class="fas fa-arrow-right"></i></p>
			</a>
		</div>
		<div style="clear:both"></div>
	</div>
{% elsif text_size > 0 %}
	<div id="announcement">
		<p id="announcement-content">
			{{ site.data.announcement.text | markdownify | remove: "<p>" | remove: "</p>" }}
		</p>
		<div style="clear:both"></div>
	</div>
{% endif %}
