<header class="page-header" role="banner">
	<div class="project-area">
		<div class="project-chapter">
			<h3>
				{% if site.chapter.name and site.chapter.url %}
				<a href="{{ site.chapter.url }}">{{ site.chapter.name }}</a>
				{% else %}
				<a href="https://www.dsausa.org/">Democratic Socialists of America</a>
				{% endif %}
			</h3>
			<div style="clear: both;"></div> 
		</div>
		<div style="clear: both;"></div> 
		<h1 class="project-name">
			<a href="{{ '/' | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a>
		</h1>
		<h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
		<div class="background-logo">
			<img src="{{ '/assets/images/DSA-logo-white-on-transparent.svg' | relative_url }}" onerror="this.src='{{ '/assets/images/DSA-logo-white-on-transparent.png' | relative_url }}'; this.onerror=null;" draggable="false" alt="Two hands holding each other. A rose is behind them.">
		</div>
	</div>
</header>
