{% if site.data.banner.link.[page.lang] or site.data.banner.link %}
	<div id="banner">
		<div id="banner-content">
			<a id="banner-link" href="{{ site.data.banner.link.[page.lang] | default: site.data.banner.link | relative_url }}">
				<p>{{ site.data.banner.text.[page.lang] | markdownify | remove: "<p>" | remove: "</p>" | strip_newlines }}<i class="fas fa-arrow-right"></i></p>
			</a>
		</div>
		<div style="clear:both"></div>
	</div>
{% elsif site.data.banner.text.[page.lang] %}
	<div id="banner">
		<p id="banner-content">
			{{ site.data.banner.text.[page.lang] | markdownify | remove: "<p>" | remove: "</p>" }}
		</p>
		<div style="clear:both"></div>
	</div>
{% endif %}
<div id="page-header">
	<div id="background-logo">
		{% include header-DSA-logo.html %}
	</div>
	<div id="project-area">
		<ul id="top-buttons">
			{% for collection in site.collections %}
				{%- assign name = collection.label -%}
				{%- assign languages = site.[name] | where: "lang-ref", page.lang-ref | sort: "lang" -%}
				{%- if languages.size > 1 -%}
					{%- for item in languages -%}
						{% if item.lang == page.lang %}
							<li><a href="{{ item.url | relative_url }}"><b>{{ site.data.translations.[item.lang] }}</b></a></li>
						{% else %}
							<li><a href="{{ item.url | relative_url }}">{{ site.data.translations.[item.lang] }}</a></li>
						{% endif %}
					{%- endfor -%}
				{%- endif -%}
			{% endfor %}
			<li id="join">
				{% if site.data.nav.join.link.[page.lang] %}
					{% assign joinURL = site.data.nav.join.link.[page.lang] | relative_url %}
				{% else %}
					{% assign joinURL = "https://www.dsausa.org/join" %}
				{% endif %}
				<a href="{{ joinURL }}">{{ site.data.nav.join.text.[page.lang] | markdownify | remove: "<p>" | remove: "</p>" | strip_newlines }}</a>
			</li>
			<div style="clear: both;"></div> 
		</ul>
		{% if site.data.nav.elements %}
			<div id="menu">
				<div id="menu-icon">
					<i class="fas fa-bars"></i>
					<p>{{ site.data.nav.menu.[page.lang] | markdownify | remove: "<p>" | remove: "</p>" | strip_newlines }}</p>
				</div>
				<div id="menu-content">
					{% for group in site.data.nav.elements %}
						<div class="nav-group">
							<h4>{{ group.[page.lang] | markdownify | remove: "<p>" | remove: "</p>" | strip_newlines }}</h4>
							<ul>
								{% for item in group.items %}
									<li><a href="{{ item.page.url.[page.lang] | default: item.page.url | relative_url }}">{{ item.page.[page.lang] | default: item.page.en | markdownify | remove: "<p>" | remove: "</p>" | strip_newlines }}</a></li>
								{% endfor %}
							</ul>
						</div>
					{% endfor %}
				</div>
			</div>
		{% endif %}
		<div id="chapter">
			{% if site.chapter.header-logo-svg && site.chapter.header-logo-png-fallback %}
				{%- capture logo -%}
					<div id="logo">
						<img src="{{ site.chapter.header-logo-svg | relative_url }}" onerror="this.src='{{ site.chapter.header-logo-png-fallback | relative_url }}'; this.onerror=null;" draggable="false" alt="{{ site.chapter.logo-description | markdownify | remove: '<p>' | remove: '</p>' | strip_newlines }}">
					</div>
				{%- endcapture -%}
			{% else %}
				{%- capture logo -%}
					<div id="logo">
						<img src="{{ 'assets/images/DSA-logo-color.svg' | relative_url }}" onerror="this.src='{{ 'assets/images/DSA-logo-color.png' | relative_url }}'; this.onerror=null;" draggable="false" alt="{{ site.data.translations.logo-description.[page.lang] | markdownify | remove: '<p>' | remove: '</p>' | strip_newlines }}">
					</div>
				{%- endcapture -%}
			{% endif %}
			
			{% if site.chapter.url %}
				{% assign chapterURL = site.chapter.url %}
			{% elsif page.lang == "en" %}
				{% assign chapterURL = "/" | relative_url %}
			{% else %}
				{% assign chapterURL = page.lang | relative_url %}
			{% endif %}
			
			<div id="name" href="{{ chapterURL }}">
				<h3>
					<a href="{{ chapterURL }}">
					{{ logo }}{{ site.data.translations.chapter-name.[page.lang] | markdownify | remove: "<p>" | remove: "</p>" | strip_newlines }}<div style="clear: both;"></div>
					</a>
				</h3>
			</div>
			<div style="clear: both;"></div> 
		</div>
		<h1 id="page-title">
			{%- if page.headline -%}
				{{ page.headline | markdownify | remove: "<p>" | remove: "</p>" | strip_newlines }}
			{%- elsif page.title -%}
				{{ page.title | markdownify | remove: "<p>" | remove: "</p>" | strip_newlines }}
			{%- else -%}
				{{ site.data.translations.title.[page.lang] | default: site.github.repository_name | markdownify | remove: "<p>" | remove: "</p>" | strip_newlines }}
			{%- endif -%}
		</h1>
		{% if page.subhead %}
			<h2 id="tagline">{{ page.subhead | markdownify | remove: "<p>" | remove: "</p>" | strip_newlines }}</h2>
		{% elsif page.description %}
			<h2 id="tagline">{{ page.description | markdownify | remove: "<p>" | remove: "</p>" | strip_newlines }}</h2>
		{% endif %}
	</div>
</div>
