<header class="page-header" role="banner">
	{% if site.banner.link %}
		<a id="banner-link" href="{{ site.banner.link | relative_url }}">
			<div id="banner">
				<p id="banner-content">{{ site.banner.text | markdownify | remove: "<p>" | remove: "</p>" | strip_newlines }}<i class="fas fa-arrow-right"></i></p>
				<div style="clear:both"></div>
			</div>
		</a>
	{% elsif site.banner.text %}
		<div id="banner">
			<p id="banner-content">
				{{ site.banner.text | markdownify | remove: "<p>" | remove: "</p>" }}
			</p>
			<div style="clear:both"></div>
		</div>
	{% endif %}
	<div class="project-area">
		<div class="background-logo">
			{% include DSA-logo.html %}
		</div>
		<div class="chapter">
			<h3>
				{% if site.chapter.url %}
					<a href="{{ site.chapter.url }}">{{ site.chapter.name | markdownify | remove: "<p>" | remove: "</p>" }}</a>
				{% else %}
					<a href="{{ '/' | absolute_url }}">{{ site.chapter.name | markdownify | remove: "<p>" | remove: "</p>" }}</a>
				{% endif %}
				{% if site.chapter.twitter or site.chapter.instagram or site.chapter.facebook %}
					<div id="social-container">
						{% if site.chapter.twitter %}
							<a id="twitter" class="social" href="{{ site.chapter.twitter }}">
								<i class="fab fa-twitter"></i>
							</a>
						{% endif %}

						{% if site.chapter.instagram %}
							<a id="instagram" class="social" href="{{ site.chapter.instagram }}">
								<i class="fab fa-instagram"></i>
							</a>
						{% endif %}

						{% if site.chapter.facebook %}
							<a id="facebook" class="social" href="{{ site.chapter.facebook }}">
								<i class="fab fa-facebook-f"></i>
							</a>
						{% endif %}
					</div>
					<div style="clear: both;"></div> 
				{% endif %}
			</h3>
		</div>
		<h1 class="name">
			<a href="{{ page.url | absolute_url }}">
				{% if page.headline %}
					{{ page.headline | markdownify | remove: "<p>" | remove: "</p>" }}
				{% elsif page.title %}
					{{ page.title | markdownify | remove: "<p>" | remove: "</p>" }}
				{% else %}
					{{ site.title | default: page.github.repository_name | markdownify | remove: "<p>" | remove: "</p>" }}
				{% endif %}
			</a>
		</h1>
		{% if page.subhead %}
			<h2 class="tagline">{{ page.subhead | markdownify | remove: "<p>" | remove: "</p>" }}</h2>
		{% elsif page.description %}
			<h2 class="tagline">{{ page.description | markdownify | remove: "<p>" | remove: "</p>" }}</h2>
		{% endif %}
	</div>
</header>
