<div class="tile-container">
	<a class="tile" href="{{ include.link }}">
		{% if include.image %}
			<img src="{{ include.image }}" />
			<div class="tile-overlay"></div>
			<div class="tile-title">
				<h4>{{ include.title }}
					<i class="fas fa-arrow-right"></i>
					<div style="clear:both"></div>
				</h4>
			</div>
		{% else %}
			<div class="tile-background"></div>
			<div class="tile-overlay"></div>
			<div class="tile-title">
				<h4>{{ include.title }}
					<i class="fas fa-arrow-right"></i>
					<div style="clear:both"></div>
				</h4>
			</div>
		{% endif %}
	</a>
</div>
