@font-face {
	font-family: "ManifoldDSA";
	src: url("../fonts/ManifoldDSA/ManifoldDSA-Medium.eot"); 
	src: url("../fonts/ManifoldDSA/ManifoldDSA-Medium.eot?#iefix") format("embedded-opentype"), 
		url("../fonts/ManifoldDSA/ManifoldDSA-Medium.woff2") format("woff2"), 
		url("../fonts/ManifoldDSA/ManifoldDSA-Medium.woff") format("woff"), 
		url("../fonts/ManifoldDSA/ManifoldDSA-Medium.ttf") format("truetype");
		font-weight: regular;
		font-style: normal;
}

@font-face {
	font-family: "ManifoldDSA";
	src: url("../fonts/ManifoldDSA/ManifoldDSA-MediumItalic.eot"); 
	src: url("../fonts/ManifoldDSA/ManifoldDSA-MediumItalic.eot?#iefix") format("embedded-opentype"), 
		url("../fonts/ManifoldDSA/ManifoldDSA-MediumItalic.woff2") format("woff2"), 
		url("../fonts/ManifoldDSA/ManifoldDSA-MediumItalic.woff") format("woff"), 
		url("../fonts/ManifoldDSA/ManifoldDSA-MediumItalic.ttf") format("truetype");
		font-weight: regular;
		font-style: italic;
}

@font-face {
	font-family: "ManifoldDSA";
	src: url("../fonts/ManifoldDSA/ManifoldDSA-ExtraBold.eot"); 
	src: url("../fonts/ManifoldDSA/ManifoldDSA-ExtraBold.eot?#iefix") format("embedded-opentype"), 
		url("../fonts/ManifoldDSA/ManifoldDSA-ExtraBold.woff2") format("woff2"), 
		url("../fonts/ManifoldDSA/ManifoldDSA-ExtraBold.woff") format("woff"), 
		url("../fonts/ManifoldDSA/ManifoldDSA-ExtraBold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "ManifoldDSA";
	src: url("../fonts/ManifoldDSA/ManifoldDSA-ExtraBoldItalic.eot"); 
	src: url("../fonts/ManifoldDSA/ManifoldDSA-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), 
		url("../fonts/ManifoldDSA/ManifoldDSA-ExtraBoldItalic.woff2") format("woff2"), 
		url("../fonts/ManifoldDSA/ManifoldDSA-ExtraBoldItalic.woff") format("woff"), 
		url("../fonts/ManifoldDSA/ManifoldDSA-ExtraBoldItalic.ttf") format("truetype");
	font-weight: bold;
	font-style: italic;
}
