@import "normalize";
@import "variables";
@import "fonts";

@mixin large {
	@media screen and (min-width: #{$large-breakpoint}) {
		@content;
	}
}

@mixin medium {
	@media screen and (min-width: #{$medium-breakpoint}) and (max-width: #{$large-breakpoint}) {
		@content;
	}
}

@mixin small {
	@media screen and (max-width: #{$medium-breakpoint}) {
		@content;
	}
}

@mixin print {
	@media print {
		@content;
	}
}

@page {
	margin: 2cm;
}

* {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
	font-family: "ManifoldDSA", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 18px;
	line-height: 1.5;
	color: $body-text-color;
}

a {
	color: $body-link-color;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}

	&:focus {
		outline: 2px dashed $body-link-color;
		outline-offset: 2px;
	}
}

.btn,
.btn-container {
	display: inline-block;
}

.btn,
.column-fix {
	box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
	transition: box-shadow .4s cubic-bezier(.25, .8, .25, 1);

	&:hover {
		box-shadow: 0 5px 10px rgba(0 , 0, 0, .25);

		.title {
			text-decoration: underline;
		}
	}
}

.btn,
.title {
	padding: .75rem 1rem;
	color: $header-heading-color;
}

.btn {
	margin-right: 1rem;
	margin-bottom: 1rem;
	background-color: $dsa-red;
}

.page-header {
	overflow: hidden;
	color: $header-heading-color;
	text-align: left;
	background-color: $header-bg-color;

	a {
		color: $header-heading-color;
	}

	#banner-link {
		&:hover p {
			text-decoration: underline;
		}
	}

	@include print {
		color: $section-headings-color;
		background: none;

		a {
			color: $section-headings-color;
		}
	}
}

#banner {
	position: relative;
	z-index: 1;
	width: 100%;
	padding: 1rem 0;
	color: $body-text-color;
	background-color: $dsa-yellow;
}

#banner-content {
	margin: 0;

	i {
		margin-left: .5rem;
		line-height: 1.5;
	}
}

#banner-content,
.project-area,
.main-content {
	@include large {
		max-width: 56rem;
		padding-right: 6rem;
		padding-left: 6rem;
		margin: 0 auto;
	}

	@include medium {
		padding-right: 4rem;
		padding-left: 4rem;
	}

	@include small {
		padding-right: 1rem;
		padding-left: 1rem;
	}
}

.project-area {
	position: relative;
	padding-top: 0;
	padding-bottom: 3rem;

	.chapter,
	.name,
	.tagline {
		position: relative;
	}

	.chapter {
		padding-top: 1rem;
		padding-bottom: 0;
		border-bottom: 2px solid $header-heading-color;

		h3 {
			margin-top: 0;
			margin-bottom: 1rem;
		}

		#social-container {
			float: right;
			margin-bottom: -1rem;
		}

		.social {
			float: left;
			width: 2rem;
			height: 2rem;
			margin-bottom: .5rem;
			margin-left: .5rem;
			text-align: center;
			color: $dsa-red;
			background-color: $header-heading-color;
			border-radius: .5rem;

			&:hover {
				color: $header-heading-color;
				box-shadow: 0 0 0 2px $header-heading-color;
			}
		}

		#twitter:hover {
			background-color: #1da1f2;
		}

		#instagram:hover {
			  background: radial-gradient(circle at 20% 120%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
		}

		#facebook:hover {
			background-color: #4267b2;
		}

		@include print {
			border-bottom: 2px solid $section-headings-color;
		}
	}

	.name {
		margin: 2rem 0 0 0;

		@include large {
			font-size: 3.25rem;
		}

		@include medium {
			font-size: 2.25rem;
		}

		@include small {
			font-size: 2.25rem;
		}
	}

	.tagline {
		max-width: 75%;
		margin-bottom: 0;
		font-weight: normal;

		@include large {
			font-size: 1.25rem;
		}

		@include medium {
			font-size: 1.15rem;
		}

		@include small {
			font-size: 1.15rem;
		}

		@include print {
			font-size: 1.15rem;
		}
	}

	.background-logo img {
		position: absolute;
		opacity: .2;
		
		/* IE fixes */
		zoom: 1;
		filter: alpha(opacity=20);

		pointer-events: none;

		@include large {
			top: -16rem;
			right: -20rem;
			width: 50rem;
			height: 50rem;
		}

		@include medium {
			top: -14rem;
			right: -19rem;
			width: 45rem;
			height: 45rem;
		}

		@include small {
			top: -12rem;
			right: -18rem;
			width: 40rem;
			height: 40rem;
		}

		@include print {
			display: none;
		}
	}

	@include print {
		padding-bottom: 2rem;
	}
}

.main-content {
	padding-top: 2rem;
	padding-bottom: 2rem;
	word-wrap: break-word;

	:first-child {
		margin-top: 0;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-top: 2rem;
		margin-bottom: 1rem;
		font-weight: bold;
		color: $section-headings-color;

		a {
			color: $section-headings-color;
		}
	}

	h5,
	h6 {
		text-transform: uppercase;
		letter-spacing: .125em;
	}

	p {
		margin-bottom: 1em;

		img {
			max-width: 100%;
		}
	}

	.tile-list,
	.event-list {
		margin: 0 -1rem 0 0;
		padding: 0;

		.tile-container-image,
		.tile-container-text {
			position: relative;
			float: left;
			width: 50%;
			height: 15rem;
			margin-bottom: 1rem;
			list-style-type: none;

			.column-fix,
			.image,
			.color-background {
				margin-right: 1rem;
			}

			.column-fix {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;

				&:hover {
					.image .overlay {
						opacity: .2;

						/* IE fixes */
						zoom: 1;
						filter: alpha(opacity=20);
					}
				}
			}

			.image,
			.color-background{
				position: relative;
				width: 100%;
				height: 100%;
			}

			.image {
				overflow: hidden;
				background-size: cover;
				background-repeat: no-repeat;
	  			background-position: 50% 50%;

	  			.overlay {
					position: absolute;
					width: 100%;
					height: 100%;
					background-color: #000;
					opacity: 0;

					/* IE fixes */
					zoom: 1;
					filter: alpha(opacity=0);
				}
			}

			.color-background {
				background-color: $dsa-purple;

				@include small {
					display: none;
				}
			}

			.title {
				position: absolute;
				right: 0;
				bottom: 0;
				left: 0;
				background-color: $dsa-purple;

				h4 {
					margin: 0;
					color: $header-heading-color;
				}

				i {
					float: right;
					line-height: 1.5;
					opacity: .5;

					/* IE fixes */
					zoom: 1;
					filter: alpha(opacity=50);
				}
			}

			@include small {
				width: 100%;

				.column-fix {
					margin-right: 0;
				}
			}
		}

		@include small {
			margin-right: 0;

			.tile-container-text {
				height: auto;

				.column-fix {
					position: relative;
				}

				.title {
					position: relative;
					width: 100%;
				}
			}
		}
	}

	ul,
	ol {
		margin-top: 0;
	}

	blockquote {
		padding: 0 1rem;
		margin-left: 0;
		color: $blockquote-text-color;
		border-left: .3rem solid $border-color;

		> :first-child {
			margin-top: 0;
		}

		> :last-child {
			margin-bottom: 0;
		}
	}

	table {
		display: block;
		width: 100%;
		overflow: auto;
		word-break: normal;
		word-break: keep-all; // For Firefox to horizontally scroll wider tables.
		-webkit-overflow-scrolling: touch;

		th {
			font-weight: bold;
		}

		th,
		td {
			padding: .5rem 1rem;
			border: 1px solid $border-color;
		}
	}

	dl {
		padding: 0;

		dt {
			padding: 0;
			margin-top: 1rem;
			font-size: 1rem;
			font-weight: bold;
		}

		dd {
			padding: 0;
			margin-bottom: 1rem;
		}
	}

	hr {
		border-width: 2px;
		border-style: solid;
		border-color: $border-color;
	}
}

.site-footer {
	padding-top: 2rem;
	margin-top: 2rem;
	border-top: solid 1px $border-color;
	font-size: 1rem;

	.credits {
		float: left;
		max-width: 50%;
		color: $blockquote-text-color;

		@include medium {
			float: none;
			max-width: 75%;
			padding-bottom: 1.5rem;
		}

		@include small {
			float: none;
			max-width: 100%;
			padding-bottom: 1.5rem;
		}
	}

	.join {
		float: right;
		color: $blockquote-text-color;

		.btn {
			margin-right: 0;
			background-color: $dsa-purple;
		}

		@include medium {
			display: block;
			float: none;
		}

		@include small {
			display: block;
			float: none;
		}

		@include print {
			display: none;
		}
	}
}
