// Colors
$dsa-red: #ec1f27;
$dsa-purple: #3b2462;

// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #fff !default;
$header-bg-color: $dsa-red !default;

// Text
$section-headings-color: #222 !default;
$body-text-color: #444 !default;
$body-link-color: #1e6bb8 !default;
$blockquote-text-color: #67777e !default;

// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: #567482 !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;
