// Colors
$dsa-red: #ec1f27;
$dsa-purple: #3b2462;
$dsa-yellow: #fad434;
$white: #fff;

// Breakpoints
$large-breakpoint: 56em !default;
$medium-breakpoint: 42em !default;
$small-breakpoint: 28em !default;

// Text
$section-headings-color: #22282a !default;
$body-text-color: #394246 !default;
$body-link-color: #1e6bb8 !default;
$secondary-text-color: #67777e !default;

// Borders
$border-color: #e3e7e8 !default;
